<form onsubmit="return registro(this)" class="form-inline">
    <h3 style="color:white">Registra tus datos</h3>
    <div class="form-group">
      <label class="sr-only" for="emailreg">Email</label>
      <input name="email" type="text" class="form-control" id="emailreg" placeholder="Ingresa tu email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="passwordreg">Password</label>
      <input name="password" type="password" class="form-control" id="passwordreg" placeholder="Ingresa tu contraseña">
    </div>
    <div class="form-group">
      <label class="sr-only" for="passwordreg2">Password2</label>
      <input name="password2" type="password" class="form-control" id="passwordreg2" placeholder="Repetir contraseña">
    </div>
    <div class="form-group">
      <label class="sr-only" for="nombre">Nombre y Apellido</label>
      <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
    </div>
    <div class="form-group">
      <label class="sr-only" for="telefono">Telefono</label>
      <input name="telefono" type="text" class="form-control" id="telefono" placeholder="Ingresa tu telefono">
    </div>
    <input type="hidden" name="id" id="idreg" value="">
    <div align="center"><button id="regbuttonsend" type="submit" class="btn btn-success">Registrate</button></div>
</form>