<div class='row' style="height:100%">    
    <div id="chatlist" class="well col-xs-12" style="height:91%; margin-bottom: 1%; overflow:auto;">
        <div id="personChat"></div>
        <div id="list">

        </div>
    </div>
    
    <div class="row" style="height:8%">
        <form id='sendchat' action="" onsubmit="return sendMessage(true)">
            <!--<input autocomplete="off" type="text" name="chatmessage" id="chatmessage" placeholder="Envia un mensaje" class="form-control">
            <button type="submit" class="btn btn-default">Enviar mensaje</button>-->
            <div class="form-group has-success has-feedback" style='margin:0px;'>                
                <div class="input-group">                  
                  <input autocomplete="off" type="text" name="chatmessage" id="chatmessage" placeholder="Envia un mensaje" class="form-control">                  
                  <a href="javascript:sendMessage(false)" class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i></a>
                  <a href="javascript:selectPicture()" class="input-group-addon"><i class="glyphicon glyphicon-file"></i></a>
                </div>                                
            </div>
        </form>
    </div>
</div>
<img id='imgfile' style='display: none'>