<div class="well">
    <div class="row">
    <div class="col-xs-6">Bicicleta: <br/><b class="label label-info" id="bicicleta">especialized</b></div>
    <div class="col-xs-6">Tecnico: <br/><b class="label label-info" id="tecnico">especialized</b></div>
    </div>
    <div class="row">
    <div class="col-xs-6">Fecha recibido <br/><b class="label label-info" id="fecha_recibido">especialized</b></div>
    <div class="col-xs-6">Fecha entregado <br/><b class="label label-info" id="fecha_entrega">especialized</b></div>
    </div>
    <div class="row">
        <div class="col-xs-6">Monto total <br/><b class="label label-info" id="monto_total">especialized</b></div>
    </div>
</div>

<div class="well">
<table class="table table-sorter" id="servicioslistdetalle">
  <thead>
    <tr>
      <th>Cant.</th><th>Monto</th><th>Desc.</th><th>Total</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>