body,html{   
    height:100%;
}
body{
    overflow:auto;
    overflow-x:hidden;
}
section,aside{
    overflow:auto;
    overflow-x:hidden;
    background:url(../img/back.jpg) no-repeat;
    height:92%;
    position:fixed;
    top:8%;
    left:-100%;
    width:100%;
    /*transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
    transition: 0.8s;*/
    left:0px;
    top:0px;
    z-index:10;
}

aside{
    background:black;
    /*transition: 0.4s;     */
    width:50%;
    top:8%;
    height:92%;
    z-index:1000;
    color:white;
    padding: 10px;
}
aside.pagecenter{
    /*transform:translate3d(200%,0,0);
    -webkit-transform:translate3d(200%,0,0);*/
    left:0;
    top:8%;
}
aside a{
    color:white;
}

.pagecenter{
    /*transform:translate3d(100%,0,0);
    -webkit-transform:translate3d(100%,0,0);*/
    left:0;
    top:8%;
}
.pageleft{
    /*transform:translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);*/
    left:-100%;
    top:8%;
}
.pageright{
    /*transform:translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);*/
    left:100%;
    top:8%;
}

#alerta{
    position:fixed;
    top:30%;    
    background:rgba(255,255,255,.9);
    width:60%;
    min-height: 24%;
    transition: 0.8s;  
      z-index: 10000;
}
.alertavisible{
    transition: 0.8s;   
    transform:translate3d(20%,0,0);
    -webkit-transform: translate3d(20%,0,0);
}
.alertainvisible{
    transform:translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}
#alerta nav{
    background:black;
    color:white;
    font-weight: bold;
}
#alerta nav a{
    color:white;
}
#alerta nav a:hover{
    text-decoration: none;
}
#alerta #msj{
    padding:10px 20px;
}

body > nav{
    background:black; height:8%; width:100%; color:white;
    z-index:15;
    position:fixed;
}

input[type="text"]:not(.selectbox), input[type="number"],
input[type="password"],input[type="email"] {
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline-style: none;
}