 /* 
    Document   : style
    Created on : 14-oct-2014, 21:11:36
    Author     : Jonathan
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
    font-family: 'titulos';    
    src: url('../fonts/titulos.ttf');
    font-weight: normal;
    font-style: normal;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

h1{
    font-family: 'titulos';
}

#wrapper,.wrapper {
	position: absolute;
	width: 100%;
	height: 92%;
        overflow:auto;
	overflow-x: hidden;

	/* Prevent native touch events on Windows */
	-ms-touch-action: none;

	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller {
	position: absolute; 
	/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
        width:100%;
    	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

/*Estilos propios*/
.box{
    padding:4% 8%;          
}
.box a{
    color:black;
}
.box nav, .box > div .col-xs-2{
    background:#7f6000;
    color:white;
}
.box > div{
    background:white;
    padding:10px;
}

.active{
    background:#7f6000;
    color:white;
}
.active2{
    background:#ffd966;
}

.active a{
    color:white;
}
.list-group-item{
    color:black;
}

.rate{display:inline-block;}
.rate,.rate li{margin:0px; padding:0px;}
.rate li{
    list-style:none;
    float:left;
    background:url('../img/stars.gif') no-repeat;
    width:18px;
    height:16px;
}
.rate .act{
    background-position:0 -16px;
}

.rate li:hover{
    background-position:0 -32px;
}

aside ul, aside li{
    margin:0px;
    padding:0px;
    list-style: none;
}

aside li{
    padding:10px 0;
    border-bottom: 1px dashed white;
}

aside li a{
    color:white;
}

aside li a:hover{
    text-decoration:none;
}

aside li:hover{
    background:white;
    
}

aside li:hover a{
    color:black;
}

.titleblue{
    background:#8faadc; padding:10px 20px; color:white; text-align:center; font-weight:bold;
}

aside .list-group-item {
    background-color: transparent;
    border:0px;
    border-bottom: 1px dashed white;
}

aside a.list-group-item {
    color: white;
}

aside a.list-group-item:hover, a.list-group-item:focus {
    color:black;
}


.activechat{
    background:orange !important;
}